.contatos{
     margin: 0%;
     background-color: #8CC44C;
     display: flex;
     color: black;
}

#github,#telefone, #email{
    width: 2%;
    
}

.pergunta,.redesSociais{
    float: left;
    margin-right: 5%;
    
}
